<%= form_with(model: @employee, local: true) do |form| %>
  <%= render 'shared/error_messages', object: @employee %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= form.label :employer_id %>
    <%= form.select :employer_id, Employer.all.collect { |e| [e.last_name, e.id] }  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
