<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @budget.hours %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @budget.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @budget.end_date %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @budget.employer_id_id %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
