<%= form_with(model: timesheet, local: true) do |form| %>
  <% if timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
        <% timesheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.select :employee_id, Employee.all.collect { |e| ["#{e.last_name} (#{e.employer.last_name})", e.id] }  %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.text_field :hours %>
  </div>

  <div class="field">
    <%= form.label :date_of_service %>
    <%= form.date_select :date_of_service %>
  </div>

  <div class="field">
    <%= form.label :budget_id %>
    <%= form.select :budget_id, Budget.all.collect { |b| ["#{b.id} (#{b.employer.last_name}) (#{b.start_date.to_date} - #{b.end_date.to_date})", b.id] }  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
