<tr>
  <td><%= timesheet.employee.last_name %></td>
  <td><%= timesheet.hours %></td>
  <td><%= timesheet.date_of_service%></td>
  <td><%= link_to 'Show', timesheet %></td>
  <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
  <td><%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
