<p id="notice"><%= notice %></p>

<h1>Timesheets</h1>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Budget</th>
      <th>Hours</th>
      <th>Date of Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.employee.last_name %></td>
        <td><%= timesheet.budget.id %></td>
        <td><%= timesheet.hours %></td>
        <td><%= timesheet.date_of_service.to_date %></td>
        <td><%= link_to 'Show', timesheet %></td>
        <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
        <td><%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @timesheets %>

<br>

<%= link_to 'New Timesheet', new_timesheet_path %>
